<!-- apps/templates/base.html -->
<!doctype  html><html lang="ko"><head><meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<link rel="stylesheet" href={{ url_for('static', filename = 'css/style.css')}}/> 
<title>서비스 - {% block title %}{% endblock %}</title></head> {# 추가적인 head 요소 (CSS, JS)를 위한 블록 #}
<body>
<!-- 내비게이션 바를 작성한다 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">main</a>
    <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('main.index') }}">회원가입</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('main.index') }}">로그인</a>
    </li>
    </ul></div></nav>
<!-- content를 상속처에서 구현 -->
<section class= "container">
{% block content %}{% endblock %}
</section></body></html>
